<!--Header-->
<%- include('partials/header') %>
<!--Header-->


    <div class="skill-detail"> <!--Div container skill-->
        <h1>Skill: <%= skill.text %></h1>
        <img src="<%= skill.icon %>" alt="<%= skill.title %>">
        
        <h2>Skill score:  <%= skill.score %></h2>
        <h3>Descripción:</h3>
        <p><%= skill.description %></p>

        <h3>Tasks to Complete</h3>
        <form id="tasks-form">
            <% skill.tasks.forEach((task, index) => { %>
                <div class="task">
                    <input type="checkbox" id="task-<%= index %>" name="task-<%= index %>" value="<%= task %>">
                    <label for="task-<%= index %>"><%= task %></label>
                </div>
            <% }); %>
            <br>
        </form>

        <% if (!isAdmin) { %>
        <div id="evidencia-form">
            <form id="evidence-form">
                <label for="evidence">Sube tu evidencia:</label>
                <br>
                <textarea id="evidence" name="evidence" rows="4" cols="50" placeholder="Escribe aquí..."></textarea><br><br>
                <input type="hidden" name="skillId" value="<%= skill._id %>">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <% } %>

        <% if (userSkills.length > 0) { %>
            <h3 class="mb-3">Usuarios con evidencia pendiente</h3>
            <div class="table-responsive" style="max-width: 80%; margin: 0 auto;">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>User</th>
                            <th>Evidencia</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% userSkills.forEach(userSkill => { %>
                        <tr>
                            <td><%= userSkill.user.username %></td>
                            <td><%= userSkill.evidence %></td>
                            <td>
                                <button onclick="approveEvidence('<%= userSkill._id %>')" class="btn btn-success btn-sm">
                                    Aprobar
                                </button>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        <% } %>
     </div>   <!--End Div container skill-->   

      <!--Script para animación de confetti-->
      <script>
        function areAllTasksChecked() {
            const checkboxes = document.querySelectorAll('#tasks-form input[type="checkbox"]');
            return Array.from(checkboxes).every(checkbox => checkbox.checked);
        }

        const checkboxes = document.querySelectorAll('#tasks-form input[type="checkbox"]');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                if (areAllTasksChecked()) {
                    showConfetti();
                    document.getElementById('evidencia-form').style.display = 'block';

                }
            });
        });

        function showConfetti() {
            confetti({
                particleCount: 300,
                spread: 70,
                origin: { y: 0.6 }
            });
        }
    </script>

    <!--Script para subir la evidencia-->
    <script>
        async function submitEvidence(event) {
            event.preventDefault(); 
    
            const form = document.getElementById('evidence-form');
            const formData = new FormData(form);
            
            const evidenceData = {
                evidence: formData.get('evidence'),
                skillId: formData.get('skillId')
            };
    
            try {
                const response = await fetch('/skills/update-evidence', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                    },
                    body: JSON.stringify(evidenceData) 
                });
    
                const data = await response.json();
                if (response.ok) {
                    alert('Evidencia cargada exitosamente.');
                    window.location.href = '/skills';
                } else {
                    alert(`Error: ${data.error}`);
                }
            } catch (error) {
                console.error('Error al enviar la evidencia:', error);
                alert('Ocurrió un error al enviar la evidencia.');
            }
        }
    
        document.getElementById('evidence-form').addEventListener('submit', submitEvidence);
    </script>

    <!--Script para aprobar evidencias-->
    <script>
        async function approveEvidence(userSkillId) {
            try {
                const response = await fetch('/skills/verify-evidence', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ userSkillId })
                });

                const data = await response.json();
                
                if (response.ok) {
                    alert(data.message);
                    location.reload(); // Reload the page to show updated status
                } else {
                    alert(data.error || 'Error verifying skill');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred while verifying the skill');
            }
        }
    </script>
    

<!--Footer-->
<%- include('partials/footer') %>
<!--Footer-->