<!--Header-->
<%- include('partials/header') %>
<!--Header-->


<div class="container mt-4">
  <h1 class="text-center">Badges</h1>
  <div class="text-end mb-3">
    <a href="/skills" class="btn btn-secondary">Volver</a>
  </div>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Rango</th>
        <th scope="col">Mínimo de puntos</th>
        <th scope="col">Máximo de puntos</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% badges.forEach(badge => { %>
        <tr>
          <td class="text-center">
            <img src="/badges/<%= badge.png.split('/').pop() %>" alt="<%= badge.rango %>" style="width: 50px; height: 50px;">
          </td>
          
          <td><%= badge.rango %></td>
          <td><%= badge.rango %></td>
          <td><%= badge.bitpoints_min %></td>
          <td><%= badge.bitpoints_max %></td>
          <td>
            <a href="/badges/<%= badge.rango %>" class="btn btn-primary btn-sm">Editar</a>
            <button class="delete-badge-button btn btn-danger btn-sm" data-badge-id="<%= badge.rango %>">Eliminar</button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <div class="text-end mt-3">
    <a href="/skills" class="btn btn-secondary">Volver</a>
  </div>
</div>

<script>
  document.querySelectorAll('.delete-badge-button').forEach(button => {
    button.addEventListener('click', async (event) => {
      if (confirm('¿Estás seguro de que deseas eliminar esta medalla?')){
        const badgeId = button.getAttribute('data-badge-id');
        console.log('badgeId enviado:', badgeId);
      try {
        const response = await fetch(`/badges/${badgeId}`, {
            method: 'DELETE',
          });
        
          if (response.ok){
            const result = await response.json();
            alert(result.message); 
            window.location.href = '/badges'; // Redirige página medallas
          } else {
            const error = await response.json();
            alert(`Error: ${error.message || 'No se pudo eliminar la medalla'}`);
          }
      } catch (error) {
          console.error('Error al intentar eliminar la medalla: ', error);
          alert('Error en la conexión');
        }
      }
    });
  });
</script>



<!--Footer-->
<%- include('partials/footer') %>
<!--Footer-->