<!--Header-->
<%- include('partials/header') %>
<!--Header-->



    <div class="skill-detail"> <!--Div container skill-->
        <h1>Skill: <%= skill.text %></h1>
        <img src="<%= skill.icon %>" alt="<%= skill.title %>">
        
        <h2>Skill score:  <%= skill.score %></h2>
        <h3>Descripción:</h3>
        <p><%= skill.description %></p>

        <h3>Tasks to Complete</h3>
        <form id="tasks-form">
            <% skill.tasks.forEach((task, index) => { %>
                <div class="task">
                    <input type="checkbox" id="task-<%= index %>" name="task-<%= index %>" value="<%= task %>">
                    <label for="task-<%= index %>"><%= task %></label>
                </div>
            <% }); %>
            <br>
        </form>

        <div id="evidencia-form">
            <form action="">
                <label for="evidencia">Sube tu evidencia:</label>
                <br>
                <textarea id="evidencia" name="evidencia" rows="4" cols="50" placeholder="Escribe aquí..."></textarea><br><br>
                <button type="submit">Enviar</button>
            </form>
        </div>

      </div>   <!--End Div container skill-->   

      <script>
        function areAllTasksChecked() {
            const checkboxes = document.querySelectorAll('#tasks-form input[type="checkbox"]');
            return Array.from(checkboxes).every(checkbox => checkbox.checked);
        }

        const checkboxes = document.querySelectorAll('#tasks-form input[type="checkbox"]');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                if (areAllTasksChecked()) {
                    showConfetti();
                    document.getElementById('evidencia-form').style.display = 'block';
                }
            });
        });

        function showConfetti() {
            confetti({
                particleCount: 300,
                spread: 70,
                origin: { y: 0.6 }
            });
        }
    </script>

</body>
</html>