<!--Header-->
<%- include('partials/header') %>
<!--Header-->

<div class="container mt-4" style="max-width: 600px;"> <!--Contendor Principal-->
    <h1>Editar medalla</h1>

    <form action="/leaderboard/<%= badge.rango %>" method="POST" onsubmit="return validarFormulario(event)">
      
      <div class="mb-3">
        <label for="text" class="form-label">Nombre de la medalla</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="<%= badge.rango %>" required>
      </div>

      <div class="mb-3">
        <label for="text" class="form-label">Rango</label>
        <input type="text" class="form-control" id="rango" name="rango" value="<%= badge.rango %>" required>
      </div>

      <div class="mb-3">
        <label for="bitpoints_min" class="form-label">Bitpoints Mínimos</label>
        <input type="number" id="bitpointsMin" name="bitpoints_min" class="form-control" value="<%= badge.bitpoints_min %>" required>
      </div>

      <div class="mb-3">
        <label for="bitpoints_max" class="form-label">Bitpoints Máximos</label>
        <input type="number" id="bitpointsMax" name="bitpoints_max" class="form-control" value="<%= badge.bitpoints_max %>" required>
      </div>

      <div class="mb-3 row align-items-center">
        <div class="col-md-8">
          <label for="icon" class="form-label">Enlace de la Imagen</label>
          <input type="url" class="form-control" id="enlaceImagen" name="icon" value="<%= badge.png %>">
        </div>
      </div>

      <div class="text-center">
        <a class="btn btn-danger" href="/badges">Cancelar</a>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>

    </form>

</div>

<script>
  function validarFormulario(event){
    const bitpointsMin = parseInt(document.getElementById('bitpointsMin').value, 10);
    const bitpointsMax = parseInt(document.getElementById('bitpointsMax').value, 10);
    const enlaceImagen = document.getElementById('enlaceImagen').value.trim();
    const urlRegex = /^https?:\/\/.+\.(png|jpg|jpeg|svg)$/i;

    //points positivos
    if (bitpointsMin < 0 || bitpointsMax <0){
      alert('Los Bitpoints deben ser números positivos.');
      event.preventDefault();
      return false;
    }

    //maximos no menor que los minimos
    if (bitpointsMax < bitpointsMin){
      alert('Bitpoints máximos no pueden ser menores que los mínimos.');
      event.preventDefault();
      return false;
    }

    //url valida
    if(!urlRegex.test(enlaceImagen)){
      alert('El enlace de la imagen debe ser una URL válida');
      event.preventDefault();
      return false;
    }

    return true;

  }
  
    

</script>


<!--Footer-->
<%- include('partials/footer') %>
<!--Footer-->