<!-- Header -->
<%- include('partials/header') %>
<!-- Header -->

<div class="container mt-4" style="max-width: 600px;">
  <h1>Editar medalla</h1>

  <form id="editarMedallaForm" action="/leaderboard/<%= badge.rango %>" method="POST" onsubmit="return validarFormulario(event)">

    <div class="mb-3">
      <label for="text" class="form-label">Rango</label>
      <input type="text" class="form-control" id="rango" name="rango" value="<%= badge.rango %>" required>
    </div>

    <div class="mb-3">
      <label for="bitpoints_min" class="form-label">Bitpoints Mínimos</label>
      <input type="number" id="bitpointsMin" name="bitpoints_min" class="form-control" value="<%= badge.bitpoints_min %>" required>
    </div>

    <div class="mb-3">
      <label for="bitpoints_max" class="form-label">Bitpoints Máximos</label>
      <input type="number" id="bitpointsMax" name="bitpoints_max" class="form-control" value="<%= badge.bitpoints_max %>" required>
    </div>

    <div class="mb-3">
      <label for="icon" class="form-label">Enlace de la Imagen</label>
      <input type="url" id="enlaceImagen" name="png" class="form-control" value="<%= badge.png %>" required>
    </div>
    </div>

    <div class="text-center">
      <a class="btn btn-danger" href="/badges">Cancelar</a>
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>

    
  </form>

  <div id="alertContainer" class="mt-4" style="display: none;"></div>

</div>

<script>
  async function handleFormSubmit(event) {
  event.preventDefault(); // Evitar el envío tradicional

  const form = event.target;
  const formData = new FormData(form);
  const badgeId = '<%= badge._id %>';

  try {
    // Usar fetch para enviar la solicitud PUT con los datos del formulario en formato JSON
    const response = await fetch(`/badges/${badgeId}`, {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(Object.fromEntries(formData)),
    });

    if (response.ok) {
      const data = await response.json();
      alert('Medalla actualizada exitosamente'); // Mostrar alerta de éxito
      window.location.href = '/badges'; // Redirigir a la página de medallas
    } else {
      const error = await response.json();
      alert(error.message || 'Error al actualizar la medalla'); // Mostrar mensaje de error
    }
  } catch (err) {
    console.error('Error:', err);
    alert('Error del servidor'); // Mostrar error de servidor si ocurre
  }
}
</script>

<!-- Footer -->
<%- include('partials/footer') %>
<!-- Footer -->


