<!--Header-->
<%- include('partials/header') %>
<!--Header-->


  <h1>Leaderboard</h1>
  <a href="/skills" class="btn btn-secondary">Volver</a>


  <div class="badge-container ">
    <% badges.forEach(badge => { %>
      <div class="badge card">
        <img class="card-img-top" src="/badges/<%= badge.png.split('/').pop() %>" alt="<%= badge.rango %>">
        <h3><%= badge.rango %></h3>
        <p><%= badge.bitpoints_min %> - <%= badge.bitpoints_max %> puntos</p>
      </div>
    <% }); %>
    </div>
<br>
<a href="/skills" class="btn btn-secondary">Volver</a>

</body>
</html>
