<!--Header-->
<%- include('partials/header') %>
<!--Header-->

<div class="container mt-4">
    <!-- Header -->
    <h1>Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if (locals.users && locals.users.length > 0) { %>
                <% locals.users.forEach(user => { %>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td><%= user.admin ? 'Yes' : 'No' %></td>
                        <td>
                            <!-- Aquí podrías agregar botones para editar o eliminar -->
                            <button class="btn btn-info">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="4">No users found.</td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <h2 class="h5 text-start">Change Password</h2>
    <div class="mb-3 d-flex align-items-center">
        <label for="password" class="form-label mb-0 me-2">New Password:</label>
        <input type="password" class="form-control me-2" id="password" name="password" required style="max-width: 200px;">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</div>

<!--Footer-->
<%- include('partials/footer') %>
<!--Footer-->