<!--Header-->
<%- include('partials/header') %>
<!--Header-->

<div class="container mt-4"> <!--Contendor Principal-->

  <h1>Skills</h1>
  <div class="text-end mb-3">
    <a href="/skill/add" type="button" class="btn btn-outline-primary">Añadir nueva skill</a>
  </div>

  <div id="skills-container">
    <% competencias.forEach(skill => { %>
      <div class="svg-wrapper" data-id="<%= skill.id %>" data-description="<%= skill.description %>" data-custom="false">
          <svg width="100" height="100" viewBox="0 0 100 100">
              <!-- Hexágono -->
              <polygon points="50,5 95,27.5 95,72.5 50,95 5,72.5 5,27.5" class="hexagon"></polygon>
              
              <!-- Texto de la habilidad -->
              <text x="50%" y="20%" text-anchor="middle" fill="black">
                <% if (skill.textLines) { %>
                  <% skill.textLines.forEach((line, index) => { %>
                    <tspan x="50%" dy="<%= index === 0 ? '1.2em' : '1.4em' %>" font-size="8px">
                      <%= line %>
                    </tspan>
                  <% }); %>
                <% } else { %>
                  <tspan x="50%" dy="1.2em" font-weight="bold">Sin texto</tspan>
                <% } %>
              </text>
    
              <!-- Imagen de la skill -->
              <image x="35%" y="60%" width="30" height="30" href="<%= skill.icon %>"></image>
              <!-- Iconos de la skill -->
              <image x="75%" y="80%" width="20" height="20" href="/assets/editar.png" class="icon-wrapper"></image>
              <image x="10%" y="80%" width="20" height="20" href="/assets/libro.png" class="icon-wrapper" data-id="<%= skill.id %>" ></image>
            </svg>
            <div class="icon-wrapper" style="display: none;">
            </div>
          </div>
          <% }); %>
        </div>
        
 

  <!-- Contenedor de descripción -->
  <div id="skill-description" class="yellow-border">
    <p id="skill-description-text"></p>
  </div>

</div> <!--Contendor Principal-->



  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const icons = document.querySelectorAll('.icon-wrapper');
      
      const skills = document.querySelectorAll('.svg-wrapper');
      const descriptionContainer = document.getElementById('skill-description');
      const descriptionText = document.getElementById('skill-description-text');

      icons.forEach(icon => {
        icon.addEventListener('click', () => {
          const skillId = icon.getAttribute('data-id');
          if (skillId) {
            window.location.href = `/skills/${skillId}`;
          }
        });
      });
      if (descriptionContainer && descriptionText && skills.length > 0) {
      skills.forEach(skill => {
        skill.addEventListener('mouseover', () => {
          const description = skill.getAttribute('data-description');
          
          descriptionText.textContent = description;
          descriptionContainer.style.display = 'block'; 
        });

        skill.addEventListener('mouseout', () => {
          descriptionContainer.style.display = 'none';
        });
      });
    } else {
      console.error('No se pudieron encontrar los elementos necesarios');
    }

    });
  </script>
        

<!--Footer-->
<%- include('partials/footer') %>
<!--Footer-->